* {
    margin: 0;
    padding: 0;
}

.vertical_scroll {
    height: 200rem; /* required */
    width: 100%;
    display: grid;
    align-items: start;
    justify-content: center;

    background: url(https://cdn.pixabay.com/photo/2022/08/30/15/33/nature-7421337_960_720.jpg)
        no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.stiky_video {
    position: sticky;
    width: 100%;
    top: 0;
}

.stiky_video video {
    filter: blur(1px);
    display: block;
    position: relative;
    width: 100%;
    /* height: 100%; */
    margin: 0 auto;
    object-fit: cover;
}

.video_text {
    position: absolute;
    width: 30rem;
    height: 150rem;
    left: 5rem;
    margin-top: 60rem;
    color: #fff;
    font-size: 2rem;
}

.video_text h2 {
    display: block;
    margin-bottom: 10rem;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 2s;
}

.video_text h2.active {
    transform: translateY(0);
    position: sticky;
    top: 8rem;
    width: 100%;
    z-index: 1;
    opacity: 1;
}
.video_text h2:nth-of-type(2).active {
    top: 16rem;
}
.video_text h2:nth-of-type(3).active {
    top: 24rem;
}

.image2 {
    height: 50rem;
    background: url(https://cdn.pixabay.com/photo/2022/08/23/06/55/village-7405160_960_720.jpg)
        no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.image3 {
    height: 50rem;
    background: url(https://cdn.pixabay.com/photo/2022/08/30/15/33/nature-7421337_960_720.jpg)
        no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* ----------- */

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: #1e3932;
    font-size: 0.9rem;
}
