*,
body {
    position: relative;
    box-sizing: border-box;
    outline: none;
}

*,
::after,
::before {
    box-sizing: border-box;
}
:where(
        :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
    ) {
    all: unset;
    display: revert;
}
body {
    line-height: 1.2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
