.circle_slider {
    color: white;
    position: fixed;
    width: 100vh;
    height: 100vh;
    z-index: 1;
}
.circle_warper {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px dotted #ff6d6d91;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    rotate: 90deg;
    transition-duration: 1s;
    background: url(../resource/img/redLP.png);
    background-size: cover;
}
.circle_item {
    display: flex;
    justify-content: center;
    width: 35%;
    height: 35%;
    border-radius: 50%;
    border: 2px solid #d1d1d180;
    position: absolute;
    transform-origin: center;
    background-color: #222;
    transition: 0.5s linear all;
    opacity: 0;
}

.circle_item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.circle_warper > .next,
.circle_warper > .prev,
.circle_warper > .active {
    opacity: 1;
    filter: brightness(30%);
    transition: 1s ease-out opacity;
}

.circle_warper > .active {
    filter: brightness(90%);
}
.circle_warper > .active .circle_prev,
.circle_warper > .active .circle_next {
    opacity: 1;
}
.circle_prev,
.circle_next {
    opacity: 0;
    position: absolute;
    transition: 0.6s all;
}
.circle_prev {
    top: -25%;
}
.circle_next {
    bottom: -25%;
}

.circle_info {
    position: absolute;
    top: 42vh;
    right: -10vh;
    width: 20vh;
    height: 16vh;
    transition: 1s;
    z-index: -1;
}
.circle_info_item {
    width: 100%;
    height: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 1s 0.5s ease-in;
}
.circle_info > .active {
    height: 100%;
    opacity: 1;
}
.circle_info > .active .circle_info_title {
    background-color: #c2494986;
    border-radius: 10px;
    padding: 1vh;
    font-size: 3vh;
    font-weight: bold;
}
.circle_info_title {
    text-overflow: ellipsis;
    overflow: hidden;
}

.circle_info_detail {
    position: absolute;
    background-color: aliceblue;
}
