.circle_slider {
    color: white;
    position: absolute;
    width: 100vh;
    height: 100vh;
    z-index: 1;
}
.circle_warper {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #8eb8e5;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    rotate: 90deg;
    transition-duration: 1s;
}
.circle_item {
    display: flex;
    justify-content: center;
    width: 35%;
    height: 35%;
    border-radius: 50%;
    border: 2px solid #7c99b4;
    position: absolute;
    transform-origin: center;
    background-color: #222;
    transition: 0.5s linear all;
    opacity: 0;
}
.circle_item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.circle_warper > .next,
.circle_warper > .prev,
.circle_warper > .active {
    opacity: 1;
    filter: brightness(60%);
    transition: 1s ease-out opacity;
}

.circle_warper > .active {
    filter: brightness(100%);
}
.circle_warper > .active .circle_prev,
.circle_warper > .active .circle_next {
    opacity: 1;
}
.circle_prev,
.circle_next {
    opacity: 0;
    position: absolute;
    transition: 0.6s all;
}
.circle_prev {
    top: -20%;
}
.circle_next {
    bottom: -20%;
}

.circle_info {
    position: absolute;
    top: 42vh;
    right: 16vh;
    width: 20vh;
    height: 16vh;
    transition: 1s;
}
.circle_info_item {
    width: 100%;
    height: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 1s 0.5s ease-in;
}
.circle_info > .active {
    height: 100%;
    opacity: 1;
    /* transform: translateX(1000px); */
}
.circle_info > .active p {
    background-color: #28384b6b;
    border-radius: 10px;
    padding: 1vh;
    font-size: 3vh;
    font-weight: bold;
}
.circle_info_item .circle_info_title {
    text-overflow: ellipsis;
    overflow: hidden;
}
