header {
    /* display: grid; */
    position: fixed;
    z-index: 99;
    width: 100%;
}
@media screen and (max-width: 480px) {
    header {
        height: 150px;
    }
}
.header_container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    max-width: 1800px;
    padding: 0 40px;
}
.header_container::before {
    content: "";
    display: block;
    width: 500vw;
    height: 10px;
    position: absolute;
    top: -10px;
    left: -100vw;
    background-color: #f9f8f6;
}
.logo_container {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.logo_container a {
    display: block;
    background: #f9f8f6;
    border-radius: 0 0 30px;
}
.logo_container a svg {
    display: block;
    width: auto;
    height: 80px;
    padding: 25px 30px 12px 15px;
    translate: 0 -4px;
}
.logo_container > svg {
    display: block;
    width: 30px;
    height: auto;
    position: absolute;
    top: 100%;
    /* left: 0; */
    transform: scale(1.01);
}
.logo_container > svg:last-of-type {
    top: 0;
    left: 100%;
}
.logo_container > svg path {
    fill: #f9f8f6;
}
