.header_logo {
    position: absolute;
    width: 5rem;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4492f8b2;
    border-radius: 50%;
}

.scene {
    position: fixed;
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
    justify-self: center;
    background-color: rgb(28, 28, 28);
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.carousel .active {
    opacity: 1;
}

.carousel_cell {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 1s;
    opacity: 0;
}

.album_list {
    width: 30%;
}

.album_text {
    width: 80%;
    margin-top: 5px;
    border-radius: 15px;
    background-color: rgb(51, 51, 51);
    color: rgb(230, 230, 230);
}

.artist_img {
    width: 70%;
}
.artist_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale();
}
.artist_img::after {
    content: "";
    position: absolute;
    left: 29%;
    top: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        to left,
        rgba(28, 28, 28, 0) 0%,
        rgba(28, 28, 28, 0.2) 25%,
        rgba(28, 28, 28, 0.4) 50%,
        rgba(28, 28, 28, 0.6) 65%,
        rgba(28, 28, 28, 0.8) 80%,
        rgba(28, 28, 28, 1) 95%
    );
}
.artist_name {
    position: absolute;
    color: white;
    font-family: DMSerifDisplay-Italic;
    font-size: 8vh;
    bottom: 8vh;
    left: 50%;
}
.carousel_control {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    position: absolute;
    right: 2vw;
    bottom: 0;
    color: white;
}

.carousel_control path {
    stroke: #4e77ffc2;
    stroke-width: 14px;
}
