.header_logo {
    position: fixed;
    width: 5rem;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fa7c7cb2;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 5px rgb(175, 36, 36));
    z-index: 1;
}

.scene {
    position: fixed;
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
    justify-self: center;
    background-color: rgb(28, 28, 28);
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.carousel .active {
    opacity: 1;
}

.carousel_cell {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 1s;
    opacity: 0;
}

.album_list {
    width: 30%;
}

.album_text {
    width: 80%;
    margin-top: 5px;
    border-radius: 15px;
    background-color: rgb(51, 51, 51);
    color: rgb(230, 230, 230);
}

.artist_img {
    width: 70%;
}
.artist_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale();
}
.artist_img::after {
    content: "";
    position: absolute;
    left: 29%;
    top: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        to left,
        rgba(28, 28, 28, 0) 0%,
        rgba(28, 28, 28, 0.2) 25%,
        rgba(28, 28, 28, 0.4) 50%,
        rgba(28, 28, 28, 0.6) 65%,
        rgba(28, 28, 28, 0.8) 80%,
        rgba(28, 28, 28, 1) 95%
    );
}
.artist_name {
    position: absolute;
    color: white;
    font-family: DMSerifDisplay-Italic;
    font-size: 8vh;
    bottom: 8vh;
    left: 50%;
    filter: drop-shadow(2px 4px 6px black);
}
.carousel_prev,
.carousel_next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    color: rgb(228, 228, 228);
    filter: drop-shadow(2px 4px 6px rgb(173, 170, 170));
    z-index: 1;
}
.carousel_prev {
    left: 0;
    margin-left: 1vw;
}
.carousel_next {
    right: 0;
    margin-right: 1vw;
}
/* //////////////////////circle slide//////////////// */
.circle_slider {
    color: white;
    position: fixed;
    width: 100vh;
    height: 100vh;
    z-index: 1;
}
.circle_warper {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px dotted #ff6d6d91;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    rotate: 90deg;
    transition-duration: 1s;
    background: url(../resource/img/redLP.png);
    background-size: cover;
}
.circle_item {
    display: flex;
    justify-content: center;
    width: 35%;
    height: 35%;
    border-radius: 50%;
    border: 2px solid #d1d1d180;
    position: absolute;
    transform-origin: center;
    background-color: #222;
    transition: 0.5s linear all;
    opacity: 0;
}

.circle_item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.circle_warper > .next,
.circle_warper > .prev,
.circle_warper > .active {
    opacity: 1;
    filter: brightness(30%);
    transition: 1s ease-out opacity;
}

.circle_warper > .active {
    filter: brightness(90%);
}
.circle_warper > .active .circle_prev,
.circle_warper > .active .circle_next {
    opacity: 1;
}
.circle_prev,
.circle_next {
    opacity: 0;
    position: absolute;
    transition: 0.6s all;
}
.circle_prev {
    top: -25%;
}
.circle_next {
    bottom: -25%;
}

.circle_info {
    position: absolute;
    top: 42vh;
    right: -10vh;
    width: 20vh;
    height: 16vh;
    transition: 1s;
    z-index: -1;
}
.circle_info_item {
    width: 100%;
    height: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 1s 0.5s ease-in;
}
.circle_info > .active {
    height: 100%;
    opacity: 1;
}
.circle_info > .active .circle_info_title {
    background-color: #c2494986;
    border-radius: 10px;
    padding: 1vh;
    font-size: 3vh;
    font-weight: bold;
}
.circle_info_title {
    text-overflow: ellipsis;
    overflow: hidden;
}

.circle_info_detail {
    position: absolute;
    background-color: aliceblue;
}
